<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FSWDFinalProject.UI.MVC-20210809091918.mdf;Initial Catalog=aspnet-FSWDFinalProject.UI.MVC-20210809091918;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=FSWDFinalProject.UI.MVC-2-1-alpha1;Integrated Security=true" providerName="System.Data.SqlClient" />

  <add name="FPResSysEntities" connectionString="metadata=res://*/FPResSys.csdl|res://*/FPResSys.ssdl|res://*/FPResSys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=FPResSys;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


</connectionStrings>
