<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FSWDFinalProject.UI.MVC-20210809091918.mdf;Initial Catalog=aspnet-FSWDFinalProject.UI.MVC-20210809091918;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=FSWDFinalProject.UI.MVC-2-1-alpha1;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>
