
@{
    ViewBag.Title = "AdminMenu";
}
<clear></clear>
<h2 class="center">Admin Menu</h2>
<li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
<li><a href="@Url.Action("Index", "UsersAdmin")">User Admin</a></li>