@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<br />
<br />
<br />
<hgroup>
    <h2 class="text-center">@ViewBag.Title Page</h2>
    @*<h3 class="text-center">@ViewBag.Message</h3>*@
</hgroup>
<div class="text-center">
    <address>
        15 Different Locations throught the Central United States<br />
        Check the Locations Page to see the closest facility near you!
    </address>
    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">For any questions or help needed click here to contact our support team directly.</a><br />
    </address>
    <br />
    <br />
    <br />
    <br />
    <br />

</div>